
/* Bottom right text */
.text-block {
  position: absolute;
  background-color: black;
  color: white;
  
}
.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 8rem;
  bottom: 0;
  left: 10rem;
  right: 0
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
#imgbtn{
  left: 20rem;
}
.carousel-item{
  height: 32rem;
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}
.overlay{
  height: 4rem;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0;
  padding-bottom: 5rem;
  background-color: rgb(65, 73, 71);
}
#slide1{
 background-image: url(./assets\oceanus_mobile.jpg);
}
.heading{
  padding: 2rem;
  color: black;
  text-align: center;
}
.footer{
  height: 5rem;
  color: white;
}
.header{
  height: 3rem;
}
.carousel-control-prev,.carousel-control-next{
  bottom: 5rem;
}
.pos{
  position: absolute;
  left: 76rem;
  bottom: 1rem;

}
.pos2{
  position: absolute;
  right: 67rem;
  bottom: 1rem;

}